<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-9">
    <div class="card" style="margin-left: 150px; margin-top: 100px;">
      <div class="card-header">
        Ultimos Clientes
        <a href="/admin/cliente/register">Nuevo cliente</a>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table table-bordered" id="default-datatable">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Celular</th>
                <th>Teléfono</th>
                <th>Extención</th>
                <th>Dirección</th>

              </tr>
            </thead>
            <tbody>
              <% @clientes.each do |cliente| %>
              <tr>
                <td><a href="/admin/cliente?email=<%= cliente['email']%>"><%= cliente['nombre']%></a></td>
                <td><%= cliente['apellidos']%></td>
                <td><%= cliente['email']%></td>
                <td><%= cliente['celular']%></td>
                <td><%= cliente['telefono']%></td>
                <td><%= cliente['ext']%></td>
                <td><%= cliente['diereccion_juridica']%></td>
              </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#default-datatable').DataTable();
  });
  
</script>
