<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid">

      <!--Start Dashboard Content-->
	  
	  <div class="row">
            <div class="col-12 col-md-6 col-lg-6 col-xl-2">
			  <div class="card text-center border-bottom-sm border-top-sm border-primary">
			    <div class="card-body">
				  <h6>CITAS</h6>
				  <h4 class="text-primary"><%= @contadores['cont_citas'] %></h4>
				  <span id="dashboard3-chart-1"></span>
				</div>
			  </div>
			</div>
			<div class="col-12 col-md-6 col-lg-6 col-xl-2">
			  <div class="card text-center border-bottom-sm border-top-sm border-danger">
			    <div class="card-body">
				  <h6>CASOS</h6>
				  <h4 class="text-danger"><%= @contadores['cont_casos'] %></h4>
				  <span id="dashboard3-chart-2"></span>
				</div>
			  </div>
			</div>
			<div class="col-12 col-md-6 col-lg-6 col-xl-2">
			  <div class="card text-center border-bottom-sm border-top-sm border-success">
			    <div class="card-body">
				  <h6>CLIENTES</h6>
				  <h4 class="text-success"><%= @contadores['cont_clientes'] %></h4>
				  <span id="dashboard3-chart-3"></span>
				</div>
			  </div>
			</div>
			<div class="col-12 col-md-6 col-lg-6 col-xl-2">
			  <div class="card text-center border-bottom-sm border-top-sm border-warning">
			    <div class="card-body">
				  <h6>ABOGADOS</h6>
				  <h4 class="text-warning"><%= @contadores['cont_abogados'] %></h4>
				  <span id="dashboard3-chart-4"></span>
				</div>
			  </div>
			</div>
			<div class="col-12 col-md-6 col-lg-6 col-xl-2">
			  <div class="card text-center border-bottom-sm border-top-sm border-info">
			    <div class="card-body">
				  <h6>TODO</h6>
				  <h4 class="text-info"><%= @contadores['cont_todo'] %></h4>
				  <span id="dashboard3-chart-5"></span>
				</div>
			  </div>
			</div>
			<div class="col-12 col-md-6 col-lg-6 col-xl-2">
			  <div class="card text-center border-bottom-sm border-top-sm border-dark">
			    <div class="card-body">
				  <h6>EQUIPOS</h6>
				  <h4 class="text-dark"><%= @contadores['cont_equipos'] %></h4>
				  <span id="dashboard3-chart-6"></span>
				</div>
			  </div>
			</div>
          </div><!--End row-->
	 

       <div class="row">
        <div class="col-lg-12">
          <div class="card">
		   <div class="card-header">
                Ultimas citas
				 <div class="card-action">
				 <div class="dropdown">
				 <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
				  <i class="icon-options"></i>
				 </a>
				    <div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="javascript:void();">Action</a>
						<a class="dropdown-item" href="javascript:void();">Another action</a>
						<a class="dropdown-item" href="javascript:void();">Something else here</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="javascript:void();">Separated link</a>
					 </div>
				  </div>
                 </div>
                </div>
             <div class="card-body">
               <div class="table-responsive">
                 <table class="table">
                  <thead>
                   <tr>
                     <th>Token</th>
                     <th>Asunto </th>
                     <th>Fecha</th>
                     <th>Llamada</th>
                   </tr>
                   </thead>
                   <tbody>
                   <% @citas.each do |cita| %>
                   <tr>

                    <td><a href='/admin/citas/<%=cita['id']%>'><%= cita['token'] %></a></td>

                    <td>
                    	<% d = DateTime.parse(cita['fecha'])%>
                    	<%= d.strftime("%m/%d/%Y a las  %I:%M%p") %>
                    		
                    	</td>
                    <td><%= cita['asunto'] %></td>
                    <td><%= cita['programar_llamada'] %></td>
                   </tr>
                   <%end%>
               
                   </tbody>
                 </table>
               </div>
             </div>
          </div>
        </div>
      </div><!--End Row-->

       <!--End Dashboard Content-->

    </div>
    <!-- End container-fluid-->
    
    </div><!--End content-wrapper-->
   <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>